@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<br />
<br />
<h4 class="accordion">How do I benefit from using ASR System?</h4>
<div class="panel">ASR System saves you time in booking consultations with different Staff members. You are able to book 24/7 and do not need to come to the school or call the school. </div>

<h4 class="accordion">Is the ASR System Difficult to Use?</h4>
<div class="panel">Our system is so simple to use, you won't even need a manual or step-by-step guide. It is straight forward and you can understand how it works at a glance. The layouts are kept simple and clean and navigation is kept clear to avoid any confusions. There is a help page which is so short you won't even be needing it. Of cos our staffs are always around if you encounter any problems. </div>

<h4 class="accordion">How long does the system take to update my booking?</h4>
<div class="panel">Less than 1 second. </div>

<h4 class="accordion">Am I able to cancel my booking?</h4>
<div class="panel">Yes, you definitely can. </div>

<h4 class="accordion">Do I need to install anything on my computer to use ASR System?</h4>
<div class="panel">No softwares or hardwares are needed. No Fuss, No Hassle, No Time Wasted. </div>

<h4 class="accordion">What computer specifications, type of browser or browser versions do I need?</h4>
<div class="panel">You will need access to the internet and common browsers like Google Chrome, Microsoft Edge and Safari will have no problems at all. </div>

<h4 class="accordion">Is the website secure?</h4>
<div class="panel">Yes, ASR System is secure with ASP.net inbuild strong login components. </div>

<h4 class="accordion">Do I have to type in all the usernames and passwords every time I log into ASR System?</h4>
<div class="panel">You can choose to type everytime or only type in once and save. While the second approach is considered unsafe and hence not recommended. </div>
