@{
    ViewData["Title"] = "Sitemap";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul class="siteMap">
    <li>
        <a href="/" title="Home">Home</a>
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.Identity.Name.StartsWith('e'))
                {
                    <li>
                        <a href="/Home/Staffs" title="Staffs">Staffs</a>
                    </li>
                    <li>
                        <a href="/Home/RoomAvailability" title="Room Availability">Room Availability</a>
                    </li>
                    <li>
                        <a href="/Staff/Index" title="Slots">Slots</a>
                    </li>
                }
                @if (User.Identity.Name.StartsWith('s'))
                {
                    <li>
                        <a href="/Home/Students" title="Students">Students</a>
                    </li>
                    <li>
                        <a href="/Home/StaffAvailability" title="Staff Availability">Staff Availability</a>
                    </li>
                    <li>
                        <a href="/Student/Index" title="Slots">Slots</a>
                    </li>
                }
            }
            <li>
                <a href="/Home/FAQ" title="FAQ">FAQ</a>
            </li>
            <li>
                <a href="/Home/Sitemap" title="Sitemap">Sitemap</a>
            </li>
        </ul>
    </li>
</ul>
